# Files found in /opt/nvidia/deepstream/deepstream/samples/models/Primary_Detector/

[property]
gpu-id=0
onnx-file=./model.onnx
net-scale-factor=0.01735207357279195
offsets=123.675;116.28;103.53
# Generated after first run
model-engine-file=model.onnx_b1_gpu0_fp32.engine
batch-size=1
network-mode=0
# num-detected-classes=91
interval=0
gie-unique-id=1
network-type=1
output-tensor-meta=1